*,
*::after,
*::before{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Graphik';
    src: local('Graphik Regular'), local('Graphik-Regular'),
        url('Graphik-Regular.woff2') format('woff2'),
        url('Graphik-Regular.woff') format('woff'),
        url('Graphik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    src: local('Graphik Medium'), local('Graphik-Medium'),
        url('Graphik-Medium.woff2') format('woff2'),
        url('Graphik-Medium.woff') format('woff'),
        url('Graphik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

body{
    font-family: 'Graphik', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-color: #181818;
    padding-top: 20px;
    padding-bottom: 56px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu{
    display: flex;
}


.menu__item{
    padding-right: 31px;
}

.menu__link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.header__button{
    padding: 14px 46px;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.headline{
    background-color: #181818;
    text-align: center;
} 

.headline__title{
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    padding-top: 50px;
    margin-bottom: 27px;
}

.headline__descr{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 85px;
}

.headline__buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
%headline__buttons-set{
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}

.headline__link-blue{
    @extend %headline__buttons-set;
    margin-right: 35px;
    padding: 20px 40px;
    background-color: #4452FE;
}

.headline__link-black{
    @extend %headline__buttons-set;
    padding: 20px 40px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}

.headline__screens{
    width: 95%;
    height: 95%;
    position: relative;
    margin-top: 35px;
    margin-bottom: 152px;
}
